
body{
    background-color:beige;
}


.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-left: 15%;
}
.padding-nav{
    margin:3%;
    background-color: rgb(57, 119, 146);
    border-radius: 15px;
}


  