


.title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 40px;
    background-color: white;
    padding-top: 15%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}
.padding-nav{
    margin-top:0;
   
    padding:1%;
    background-color: rgb(13, 152, 211);
}


  