

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Line #</th>
          <th scope="col">Available Phonenumbers</th>
          <th scope="col">Devices</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of [1,2,3];let indexOfElement=index;">
          <td>{{indexOfElement+1}}</td>
          <td class="overflow-hidden">
               <select id="pN" [(ngModel)]="lines[indexOfElement].phonenumber" >
                  <option value = "empty">----------</option>
                  <option *ngFor="let phonenumber of phoneNumbers;" [ngValue]="phonenumber" >{{phonenumber}}</option>
               </select>            
          </td>
          <td class="overflow-hidden">
            <select [(ngModel)]="lines[indexOfElement].device_Id">
               <option value = "empty">----------</option>
                <option *ngFor="let device of devices" [ngValue]="device.device_id">{{device.model}}</option>
             </select>
          </td>
        </tr>
      </tbody>
     
    </table>
     <button class="btn btn-sm btn-outline-primary mr-2" (click)="refreshPhoneNumbers()">Refresh Phonenumbers</button>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="saveLines()">save lines</button>
     
      <app-devices-table></app-devices-table>