

<h1>Create Line</h1>

<div *ngFor="let i of [1,2,3];let indexOfElement=index;" >
    <h2>Line {{indexOfElement+1}}  :</h2>
<select  [(ngModel)]="lines[indexOfElement].phoneNumber" >
   <option value = "empty">----------</option>
   <option *ngFor="let phoneNumber of phoneNumbers;" [ngValue]="phoneNumber" >{{phoneNumber}}</option>
</select>

<select [(ngModel)]="lines[indexOfElement].device_Id">
   <option value = "empty">----------</option>
    <option *ngFor="let device of devices" [ngValue]="device.device_id">{{device.model}}</option>
    
 </select>

</div>

<a [routerLink]="['']"><button class="btn btn-sm btn-outline-primary mr-2" (click)="saveLines()">save line</button><a></a>

<button class="btn btn-sm btn-outline-primary mr-2" (click)="refreshPhoneNumbers()">Refresh Phonenumbers</button>