

<form class="container login-form "> 
  <h3 class ="login-title">Login</h3>
  <hr>
    <div class="form-group row">
      <label for="name"> User name:</label>
      <input type="text" class="form-control" id="name"  [(ngModel)]="loginName.username" name="Name">
    </div>
    <p>{{loginName.username}}</p>

    <div class="form-group row">
      <label>Password</label>
      <input id="password" type="password">
    </div> 
    <div id=container>
    <a [routerLink]="['/user-account']"><button class="btn btn-primary btn-lg btn-login" >Login</button></a>
    <a [routerLink]="['/new-user']"><button class="btn btn-primary btn-lg btn-newUser" >New User</button></a>
  </div>
</form>

    