<div class="container">

    <div class="row card-size card-whole">
        <div class="col-4"  *ngFor="let plan of planList">
            <div class="card mb-3 " style="max-width: 18rem;">
                <h2 class="card-header header">{{plan.name}}</h2>
                <div class="card-body">
                    <h3 class="card-title">{{plan.numberOfLines}} Lines</h3>
                    <p class="card-text">{{plan.description}}.</p>
                   
                    <button type="button" class="btn btn-card ">${{plan.pricePerLine}} <br>Per Line</button>
                </div>
            </div>
        </div>
    </div>
</div>
